
.ImagepacksManagement-cards {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & > div {
    display: grid;
    grid-template-columns: 1fr auto;
    & > :last-child {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
