.Meter {
  position: relative;
  display: grid;
  height: 10px;
  background-color: #444;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 8px;

  & > * {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  /* The meter inner bar, used for the actual filled portion */
  & > span {
    display: block;
    background-color: var(--meter-color, red);
    border-radius: 6px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: width 0.5s;
  }

  /* The meter text */
  & > div {
  }
}
