.InteractiveSexSetup {
  label {
    display: inline-flex;
    align-items: center;
    gap: 0.3em;

    input[type="radio"] {
      margin-left: 0.5em;
    }
  }
}

.InteractiveSex-credits {
  float: right;

  a {
    font-size: smaller;
    opacity: 0.5;
  }
}

.InteractiveSex-actions {
  background-color: #222;
  border-radius: 8px;
  padding: 1em;
  margin-top: 1.5em;

  & > :nth-child(2) {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: 0 8px;

    & > * {
      display: contents;

      aside {
        margin-left: 6px;
      }
    }
  }
}
