/**
 *  Structure:
 *  <table class='fortgrid-table'>
 *  <tbody>
 *  <tr>
 *  <td>
 *  <div class='tile-outdoors/tile-indoors'>
 *  <img src='...'>
 *  </div>
 *  </td>
 *  </tr>
 *  </tbody>
 *  </table>
 */

.fortgrid-table td,
.fortgrid-table tr {
  padding: 0px;
  margin: 0px;
}

.fortgrid-table > tbody > tr > td {
  position: relative;
  transition: background-color 0.2s;
}

.fortgrid-table > tbody > tr > td > div {
  transition: opacity 0.2s;
}

.tile-main-image {
  position: absolute;
  z-index: 3;
}

.tile-extra-wall {
  position: absolute;
  z-index: 2;
}

.tile-path {
  position: absolute;
  z-index: 1;
}

.tile-path img {
  vertical-align: top !important;
}

.tile-caption {
  position: absolute;
  /*background-color: rgba(32, 32, 32, 0.8);*/
  border-radius: 4px;
  font-size: x-small;
  z-index: 5;
  padding: 0 2px;

  --shadow-color: #222;
  text-shadow:
    1px 1px 1px var(--shadow-color),
    -1px 1px 1px var(--shadow-color),
    1px -1px 1px var(--shadow-color),
    -1px -1px 1px var(--shadow-color);

  pointer-events: none;

  & > span {
    white-space: nowrap;
  }
}

.tile-caption-top {
  top: 2px;
  left: 2px;
}

.tile-caption-bottom {
  bottom: 2px;
  left: 2px;
}

.tile-caption-bottom .trait img {
  width: 12px !important;
  height: 12px !important;
}

.fortgrid-table td:hover:not(.fortgrid-expansion):not(.fortgrid-highlight) {
  background-color: #0055ff;
}

.fortgrid-table td:hover:not(.fortgrid-expansion) > div,
.fortgrid-highlight > div {
  opacity: 0.5;
}

.fortgrid-table .fortgrid-invalid:not(.fortgrid-expansion) {
  background-color: red;
}

.fortgrid-table .fortgrid-valid:not(.fortgrid-expansion) {
  background-color: rgb(51, 255, 0);
}

.fortgrid-table .fortgrid-invalid-entrance:not(.fortgrid-expansion) {
  background-color: rgb(212, 0, 255);
}

.fortgrid-table .fortgrid-valid-entrance:not(.fortgrid-expansion) {
  background-color: rgb(0, 102, 128);
}

.fortgrid-table .fortgrid-entrance {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.fortgrid-table .fortgrid-entrance::after {
  font-family: sc-icons !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: never;
  text-rendering: auto;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  justify-content: center;
  align-items: center;
  scale: var(--fortgrid-scale);
  color: rgba(255, 255, 255, 0.6);

  opacity: 0;
}
.fortgrid-table td:hover:not(.fortgrid-expansion) .fortgrid-entrance::after,
.fortgrid-highlight .fortgrid-entrance::after {
  opacity: 1;
}

/* 0 = bottom, 1 = left, 2 = up, 3 = right */
.fortgrid-table .fortgrid-entrance-0::after {
  content: "\f062";
  height: 60%;
}
.fortgrid-table .fortgrid-entrance-1::after {
  content: "\f061";
  width: 60%;
  left: 40%;
}
.fortgrid-table .fortgrid-entrance-2::after {
  content: "\f063";
  height: 60%;
  top: 40%;
}
.fortgrid-table .fortgrid-entrance-3::after {
  content: "\f060";
  width: 60%;
}

.fortgrid-table .fortgrid-path {
  background-color: yellow;
}

.fortgrid-table .fortgrid-neighbor {
  background-color: cyan;
}

.fortgrid-expansion > div {
  text-align: center;
}

.tile-type-structural {
  background: #a5a5a5;
}

.tile-type-accomodation {
  background: #fff282;
}

.tile-type-hiring {
  background: #7cb9ff;
}

.tile-type-office {
  background: #ffb07b;
}

.tile-type-scout {
  background: #73e983;
}

.tile-type-storage {
  background: #83fff5;
}

.tile-type-training {
  background: #d67fff;
}

.tile-type-recreation {
  background: #c2adc4;
}

.tile-type-heal {
  background: #ff8ccb;
}

.tile-type-corruption {
  background: #9881ff;
}

.tile-type-purification {
  background: #cca5b2;
}

.tile-type-biolab {
  background: #e2ffb3;
}

.tile-type-decoration {
  background: #a1ff89;
}

.tile-type-misc {
  background: #6182c2;
}
