/**
 *  Structure:
 *
 *  <div class="menu">
 *    <div>
 *      <span>Lebel</span>
 *      <nav>...children...</nav>
 *    </div>
 *  </div>
 *
 *  <div>: menu item
 *    <span>: label
 *    <nav>: container of children menu items (divs) [optional]
 */

.menu.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-bottom: 2px;

  & > div {
    & > span {
      height: 100%;
      min-height: 36px;
      box-sizing: border-box;
      padding: 4px 12px;
    }
  }
}

.menu {
  user-select: none;
  text-align: left;
}

.menu > * {
  cursor: pointer;
}

.menu nav {
  z-index: 1000;
}

.menu div {
  position: relative;
}

.menu div:not(.menu-clickonly):hover > nav {
  display: block;
}

.menu div > .menu-span {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2px 0.4em;
  padding: 8px 12px;
  background-color: var(--menu-color, #394c7a);
}

.menu div > .menu-span:hover {
  background-color: var(--menu-hover-color, #68d);
}

/* Small arrow at the right of non-terminal menu items */
.menu div > nav > div > span:not(:only-child)::after {
  content: "\e81a";
  position: absolute;
  right: 6px;
  top: 0;
  bottom: 0;

  display: flex;
  align-items: center;

  font-family: tme-fa-icons;
  font-weight: 400;
  line-height: 1;
}

.menu div.menu-left > nav > div > span:not(:only-child)::after {
  content: "\e819";
  right: unset;
  left: 6px;
}

.menu div:not(.menu-left) > nav > div > span {
  padding-right: 24px;
}

.menu div.menu-left > nav > div > span {
  padding-left: 24px;
}

.menu nav {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  list-style-type: none;
  width: max-content;
  min-width: 120px;
  z-index: 21;
  border-left: 1px solid transparent;
}

.menu > div.menu-left > nav {
  left: unset;
  right: 0;
}

.menu nav > div > .menu-span {
  display: block;
  background: var(--menu-color, #394c7a);
  color: #fff;
  padding: 4px 12px;
  border-top: 1px solid #1a1a1a;
  border-right: 1px solid transparent;
}

.menu div > nav > div > nav {
  position: absolute;
  left: 100%;
  top: 0px;
}

.menu div.menu-left > nav > div > nav {
  left: unset;
  right: 100%;
}

/** Menu Colors **/
.menu .submenu-actor > * {
  --menu-color: #436767;
  --menu-hover-color: #5f9191;
}

.menu .submenu-action > * {
  --menu-color: #312a5a;
  --menu-hover-color: #694c9e;
}

.menu .submenu-value > * {
  --menu-color: #766d46;
  --menu-hover-color: #ac994a;
}

.menu .submenu-debug > * {
  --menu-color: #375741;
  --menu-hover-color: #547669;
}

.menu .submenu-tag-0 > * {
  --menu-color: #5d833e;
  --menu-hover-color: #6cdb91;
}

.menu .submenu-tag-1 > * {
  --menu-color: #813e7e;
  --menu-hover-color: #db6edf;
}

.menu .submenu-tag-2 > * {
  --menu-color: #477b94;
  --menu-hover-color: #70d2df;
}

.menu .submenu-tag-selected > * {
  --menu-color: #707070;
  --menu-hover-color: #b9b9b9;
}

.menu .submenu-danger > * {
  --menu-color: #674343;
  --menu-hover-color: #915f5f;
}

.menu .submenu-filter-text > * {
  color: rgb(185, 185, 185);
  --menu-color: #3a3a3a;
  --menu-hover-color: #3a3a3a;
  cursor: default;
}

.menu .submenu-filter-title > * {
  --menu-color: #202020;
  --menu-hover-color: #202020;
  cursor: default;
}
