.traiteffecttable td {
  border: 3px solid white;
  padding: 8px
}

.tagtoolbarsticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 20;
  padding: 0px;
  background: var(--bg-color, #111);
}

.description-render {
  overflow: auto;
}